<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
	<link rel="Stylesheet" href="~/css/Core.css" type="text/css" />
	@RenderSection("Styles")
	@Styles.Render("~/Content/bootstrap/bootstrap.css")
</head>
<body>
	<div id="header">
		<h1>From _layout</h1>
		<hr />
	</div>
	@RenderBody()
</body>
</html>


@RenderSection("Scripts")